h1{
    background-color:#1e0139  ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-weight: 200;
    color: white;
    text-align: center;

}