.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/* Alternatively, if you want to allow scrolling but hide the scrollbar */
/* For all browsers */
body {
  margin: 0; /* Ensure no extra margins */
  overflow: hidden; /* Hide scrollbars but disable scrolling */
  overflow-y: auto; /* Enable vertical scrolling without showing the scrollbar */
}

/* For Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
